<div ng-include="'views/header.html'"></div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 well bs-component">
        <fieldset>
            <legend>Add New Activity</legend>

            <form class="form-horizontal">
                <div class="col-md-8">
                    <div class="form-group">
                        <input id="activity-name" class="form-control" ng-model="newActivity.name" type="text" placeholder="Activity Name..." required>
                    </div>
                    <h3> Burned calories per 1 hour</h3>

                    <div class="form-group">
                        <label for="activity-calories"> Lightly active </label>
                        <input id="activity-calories" class="form-control" ng-model="newActivity.calories.lightly" type="number" min="0" max="100000" required placeholder="Calories...">
                    </div>
                    <span>{{ newActivity.calories.lightly }}</span>
                    <div class="form-group">
                        <label for="activity-calories"> Moderate active </label>
                        <input id="activity-calories" class="form-control" ng-model="newActivity.calories.moderate" type="number" min="0" max="100000" required placeholder="Calories...">
                    </div>
                    <span>{{ newActivity.calories.moderate}}</span>
                    <div class="form-group">
                        <label for="activity-calories"> Very active </label>
                        <input id="activity-calories" class="form-control" ng-model="newActivity.calories.veryActive" type="number" min="0" max="100000" required placeholder="Calories...">
                    </div>
                    <span> {{newActivity.calories.veryActive }}</span>
                    <button type="button" id="submitActivity" class="doneButton btn btn-success btn-lg btn-block"
                            ng-disabled="!newActivity.name"
                            data-ng-click="insertActivity()">
                        Done
                    </button>
                </div>

            </form>
        </fieldset>
    </div>


</div>
<div ng-include="'views/footer.html'"></div>
