<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10 well bs-component">
        <fieldset>
            <legend> {{ title }} </legend>
            <form class="form-horizontal">

                <div class="input-group">
                    <input type="text" class="form-control"
                           ng-model="item.name"
                           placeholder="Name">
                </div>

                <div class="headers">
                    <h3> Nutritional Values per 100{{suffix}}</h3>
                </div>

                <div class="input-group">

                    <input type="text" class="form-control"
                           ng-model="item.calories"
                           placeholder="Calories (kcal)">
                    <span class="input-group-addon">.00</span>
                </div>


                <div class="input-group">
                    <input type="text" class="form-control"
                           ng-model="item.carbohydrates"
                           placeholder="Carbohydrates (gr)">
                    <span class="input-group-addon">.00</span>
                </div>



                <div class="input-group">
                    <input type="text" class="form-control"
                           ng-model="item.proteins"
                           placeholder="Proteins (gr)">
                    <span class="input-group-addon">.00</span>
                </div>


                <div class="input-group">
                    <input type="text" class="form-control"
                           ng-model="item.fats"
                           placeholder="Fats (gr)">
                    <span class="input-group-addon">.00</span>
                </div>

                <button type="button" class="doneButton btn btn-success btn-lg btn-block"
                        ng-disabled="!isInputValid()"
                        ng-click="sendItem()">
                    Done
                </button>

            </form>
        </fieldset>
    </div>


</div>
<div class="col-md-1"></div>
