<div class="header">
    <ul class="nav nav-pills pull-right">
        <li ng-class="{active:isActive('/')}"><a ng-href="#">Home</a></li>
        <li ng-class="{active:isActive('/add-food')}"><a ng-href="#/add-food">Add food</a></li>
        <li ng-class="{active:isActive('/add-beverage')}"><a ng-href="#/add-beverage">Add beverage</a></li>
        <li ng-class="{active:isActive('/add-new-activity-type')}"><a ng-href="#/add-new-activity-type">Add activity type</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ng-href="#/select-activity">Activity</a></li>
                <li><a ng-href="#/select-food">Food</a></li>
                <li><a ng-href="#/select-drink">Drink</a></li>
            </ul>
        </li>
		<li ng-class="{active:isActive('/statistics')}"><a ng-href="#/statistics">Statistics</a></li>
        <li ng-class="{active:isActive('/user-information')}"> <a ng-href="#/user-information"> Edit user info </a> </li>

    </ul>
    <h3 class="text-muted">LiveBetter</h3>
</div>