<div ng-include src="'views/header.html'"></div>
<div class="row marketing">
	<div class="ht">
		Set personal details:
	</div>
	<br />
	<form role="form" class="col-md-10">
		<div class="row">
			<div class="col-xs-4">
				<label for="person-first-name"> First name: </label>
				<input type="text" id="person-first-name" ng-model="firstName" required />
			</div>
			<div class="col-xs-4">
				<label for="person-middle-name"> Middle name: </label>
				<input type="text" id="person-middle-name" ng-model="middleName" required />
			</div>
			<div class="col-xs-4">
				<label for="person-last-name"> Last name: </label>
				<input type="text" id="person-last-name" ng-model="lastName" required />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<label for="person-sex"> Sex</label>
				<select id="person-sex" ng-model="personSex" class="form-control">
					<option selected value="0">Sex</option>
					<option value="female">Female</option>
					<option value="male">Male</option>
				</select>
			</div>
			<div class="col-xs-6"> 
				<div class="input-group ">
					<label for="person-bord-date">Born:</label>
					<input id="person-bord-date" ng-model="personBornDate" type="date" class="form-control" placeholder="Born date mm/dd/yyyy">
				</div>
			</div>
		</div>
		<br />
		<div class="row">	
			<div class="col-xs-6"> 
				<div class="input-group">
					<input id="person-height" ng-model="personHeight" type="number" min="0" max="250" class="form-control" placeholder="Height...">
					<span class="input-group-addon">.cm</span>
				</div>
			</div>
			<div class="col-xs-6"> 
				<div class="input-group">
					<input id="person-weight" ng-model="personWeight" type="number" min="0" max="200" class="form-control" placeholder="Weight...">
					<span class="input-group-addon">.kg</span>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<p> Set goal: <p>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="input-group">
					<select id="person-goal" ng-model="personGoal" class="form-control">
						<option value="0"> Maintain Weight</option>
						<option value="loseWeight">Lose weight</option>
						<option value="gainWeight">Gain weight</option>
					</select>
				</div>
			</div>
			<div ng-show="personGoal" class="col-xs-6"> 
				<div class="input-group">
					<select id="person-metabolism" ng-model="personMetabolism" class="form-control">
						<option selected value="0">Metabolism</option>
						<option value="1.2">Slow</option>
						<option value="1.5">Fast</option>
						<option value="1.5">Mixed</option>
					</select>
				</div>
			</div>
		</div>
		<br />
		<div class="row">	
			<div ng-show="personGoal">
				<div class="col-xs-4">
					<input  id="person-goal-days" ng-model="goalDate" type="date" class="form-control" placeholder="Days">
				</div><div class="col-xs-4">
				<input  id="person-goal-kg" ng-model="personGoalKG" type="number" min="0" max="250" class="form-control" placeholder="Kilos">
			</div>

		</div>
	</div>
	<div ng-show="(personSex &&  personHeight && personBornDate != '' && personWeight && !personGoal) && calculateCaloriesPerDay()"  class="row">
		<div class="col-xs-12">
			You have to take {{ personCalories }} calories per day.
		</div>
	</div>
<div ng-show="(personSex  && personHeight && personWeight && personGoal == 'loseWeight' && personMetabolism &&personGoalKG && personGoalKG < personWeight) && calculateCaloriesPerDay()"  class="row">
		<div class="col-xs-12">
			You have to decrease with {{ personCalories }} calories per day.
		</div>
	</div>
<div ng-show="(personSex  && personHeight && personWeight && personGoal == 'gainWeight' && personMetabolism && personGoalKG && personGoalKG > personWeight) && calculateCaloriesPerDay()"  class="row">
		<div class="col-xs-12">
			You have to take more {{ personCalories}} calories per day.
		</div>
	</div>
</div>
</form>
</div>
<button ng-show="!personGoal" type="button" ng-click="submitUserDetails()" id="submit-user-info" class="btn btn-default" 
ng-disabled="!firstName || !middleName || !lastName || !personSex || personBornDate == '' || personBornDate == 'mm/dd/yyyy' || !personWeight || !personWeight">Done</button>
</div>
<button ng-show="personGoal" type="button" ng-click="submitUserDetails()" id="submit-user-info" class="btn btn-default" 
ng-disabled="!personMetabolism || goalDate == '' || goalDate == 'mm/dd/yyyy' || !personGoalKG">Done</button>
</div>

<div ng-include src="'views/footer.html'"></div>